@import "tailwindcss";



body {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@layer components{
  .sub-menu {

  }
}

@layer utilities{
  .flex-center{
    @apply flex items-center;
  }
  .flex-center-between{
    @apply flex items-center justify-between;
  }
}

